:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  text-align: center;
  margin: 10px;
}

button {
  padding: 3px 7px;
  border-radius: 5px;
  border: 2px solid rgb(115, 14, 14);
  background-color: rgb(246, 167, 167);
  font-weight: 600;
}
