@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  text-align: center;
  font-family: "Roboto", sans-serif;
  width: 100vw;
  height: 100vh;
}

.App {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: #1a1a1a;
  color: #d7dadd;
}

button {
  padding: 3px 7px;
  border-radius: 5px;
  border: 2px solid #1e85f4;
  background-color: #1a1a1a;
  font-weight: 600;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  color: #efe296;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

button:hover {
  box-shadow: none;
  transform: scale(92%);
}

h1 {
  font-size: 40px;
  line-height: 50px;
  color: #1e85f4;
}

h1 span {
  font-weight: 800;
  color: #efe296;
}

h3 {
  font-size: 14px;
  line-height: 20px;
}

h4 {
  font-size: 12px;
  line-height: 16px;
}

h4 span {
  font-weight: 800;
  color: #1e85f4;
}

p {
  font-size: 12px;
  line-height: 18px;
}

ol {
  margin: 5px 0 0 30px;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  list-style: circle;
}

a {
  color: #1e85f4;
  text-decoration: none;
  transition: all 200ms ease-in-out;
}

a:hover {
  color: #efe296;
}

.assets {
  display: none;
}

canvas {
  background-color: #e6ad6c;
}
